body{
 
    font-family: MS Serif;
    background: rgb(143,188,187);
    background: linear-gradient(110deg, rgba(143,188,187,1) 25%, rgba(7,21,77,1) 59%, rgba(150,72,149,1) 94%);
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*height: 100%; */
}

.head_title {
    padding: 0.5em 0em;
    margin: 0em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}

.head_titile h1 {
    margin: 0; 
    padding: 0;
}

body p1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

img{
    width: 500px;
    height: 500px;
    border-radius:10px;
    text-align: center;
}

.posts{
   width: 600px;
   height: 100vh;
   background-color: #fff;
   margin-bottom: 30px;
    border-radius:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.post1 {
    display: flex;
    flex-direction: column;
}

.post1 p1 {
    font-size: 15px;
}

.post1 p2 {
    font-size: 20px;
}

.delete_button{
    margin-bottom: 20px;
    text-align: left;
}

.btn-primary{
    border-radius:10px;
    
}

.search-form {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}
.search-form:before, .search-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 3em;
  margin: 0;
  border-radius: 1.5em;
  font-size: 1em;
}
.search-form:before {
  z-index: 100;
  line-height: 3em;
  background: #65b1e4;
  color: #FFF;
  text-align: center;
}
.search-text {
  opacity: 0;
  z-index: 200;
  cursor: pointer;
  transition: .5s;
  outline: 0;
  border: solid 1px #ccc;
  border-radius: 1.5em;
  padding-left: 1em;
}
.search-text:focus {
  opacity: 1;
  width: 100%;
  cursor: text;
}
.search-form input[type="submit"] {
  display: none;
}