body{
    background-color: darkseagreen;
    font-family: MS Serif;
}

.display {
    padding: 0.5em 0em;
    margin: 0em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}
.display h1 {
    margin: 0; 
    padding: 0;
}

.post{
   width: 600px;
   height: 100vh;
   background-color: #fff;
   margin-bottom: 30px;
    border-radius:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.edit {
    font-size: 20px;
}

.delete {
    font-size: 20px;
}

.post p {
    font-size: 19px;
}

.tags {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.tags p {
    padding: 10px;
}

.likes p {
    font-size: 20px;
}

.comments p {
    font-size: 19px;
}

.comment {
    width: 600px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}